@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #121212;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
::selection{
  background: #170faf;
  color: #5978a5;
}
.wrapper{
  width: 400px;
  background: #2b2b2b;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: #2b2b2b;
  /* background: linear-gradient(-135deg, #0fa4af, #afdde5); */
}
.wrapper .welcome{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: #2b2b2b;
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
form .field_index,
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.form .field_index {
  display: flex;
  align-items: center;
}

form .field_index input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 15px; 
  padding-left: 20px;
  border: 1px solid #424242;
  border-radius: 25px;
  transition: all 0.3s ease;
  background: #424242;
  color: #fff;
}

.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid #424242;
  border-radius: 25px;
  transition: all 0.3s ease;
  background: #424242;
  color: #fff;
}

form .field_index  label,
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: gray;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}


form .field_index input:focus ~ label,
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  /* color: lightgray; */
  /* background: #2b2b2b; */
  transform: translateY(-80%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #fff;
  user-select: none;
  padding-left: 5px;
}


form .field_index input[type="submit"],
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  /* background: linear-gradient(-135deg, #170faf, #afdde5); */
  background: #5978a5;
  transition: all 0.3s ease;
}
form .field_index[type="submit"]:active,
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link,
form .login-link{
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a,
form .login-link a{
  color: #5978a5;
  text-decoration: none;
}

form .pass-link a:hover,
form .signup-link a:hover,
form .login-link a:hover,
.wrapper .link:hover{
  text-decoration: underline;
}

.wrapper .messages b{
  color: rgb(225, 67, 67);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .link{
  color: #5978a5;
  text-decoration: none;
  font-size: 15px;
}

.wrapper .link-container {
  overflow: hidden; /* Clearfix for float */
  text-align: center;
}

.wrapper .link-container a{
  display: inline-block; /* or float: left; */
  margin-right: 15px; /* Add space between links */
}

.wrapper .music-player .song-info{
  color: #fff;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper .music-player .song-info .channel-title{
  font-size: 13px;
  color: lightgray;
}

.wrapper .music-player .album-cover-container{
  display: flex; /* Use flexbox to center the image */
  width: 380px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.wrapper .music-player .album-cover-container img{
  max-width: 100%; /* Make sure the image doesn't exceed the container's width */
  max-height: 100%; /* Make sure the image doesn't exceed the container's height */
}

.wrapper .music-player .player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper .music-player .player-controls .control-btn {
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
}

.wrapper .music-player .player-controls .control-btn {
  color: #5978a5;
}


.wrapper .music-player .player-controls .play-btn {
  padding: 0 5px;

}

.wrapper .music-player .progress-bar {
  width: 80%; 
  height: 10px;
  background: #555;
  margin: 0 auto 10px auto; 
  border-radius: 5px; 
  position: relative;
}

.wrapper .music-player .progress {
  height: 100%;
  width: 0%;
  /* background: linear-gradient(to right, #170faf, #afdde5);  */
  background: #5978a5;
  border-radius: 5px; 
}

.wrapper .music-player .time-stamps {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Put space between the time stamps */
  align-items: center; /* Center vertically */
  margin-bottom: 10px; /* Add margin for spacing */
}

.wrapper .music-player .time-stamps span {
  color: #fff;
  font-size: 14px; /* Adjust font size as needed */
  margin-left: 25px;
  margin-right: 25px;
}

.wrapper .search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: #fff;
}

.wrapper .search-results .song-info{
  margin-left: 10px;
  font-size: 15px;
}

.wrapper .search-results .song-info .channel-title{
  color: lightgray;
  font-size: 13px;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 18px;
  margin-right: 20px;
}

.social-icons {
  display: flex;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}


/* footer */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #333;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
} */

.footer {
  position: relative;
  width: 100%;
  background: #5978a5;
  min-height: 30px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 1rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 0.5rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.contacts{
  display: flex;
  align-items: center;
}

.contacts .email_link {
  font-size: 0.7rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: url("wave.svg");
  background-size: 250px 60px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 9s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 3px;
  animation: animate 10s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 6px;
  animation: animateWaves 8s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 9px;
  animation: animate 84s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
