{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YT Music Player</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="wrapper">
      <div class="title">Login Form</div>
      <div class="messages">
        {% for message in messages %}
        <b>{{message}}</b>
        {% endfor %}
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="field">
          <input type="text" required name="username" />
          <label>Username</label>
        </div>
        <div class="field">
          <input type="password" required name="password" />
          <label>Password</label>
        </div>
        <div class="content">
          <div class="checkbox">
            <input type="checkbox" id="remember-me" />
            <label for="remember-me">Remember me</label>
          </div>
          <div class="pass-link">
            <a href="#">Forgot password?</a>
          </div>
        </div>
        <div class="field">
          <input type="submit" value="Login" />
        </div>
        <div class="signup-link">
          Not a member? <a href="/signup">Sign up now</a>
        </div>
      </form>

      <footer class="footer">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
        <div class="contacts">
          <a class="email_link"> Powered By Edoardo Ascenzi </a>
          <a class="social-icon__link" href="https://github.com/edoardoascenzi">
            <ion-icon name="logo-github"></ion-icon>
          </a>
          <a
            class="social-icon__link"
            href="https://www.linkedin.com/in/edoardoascenzi/?locale=en_US"
          >
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
          <a
            class="social-icon__link"
            href="https://www.instagram.com/edo_asce/"
          >
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a
            class="social-icon__link"
            href="mailto:edoardo.ascenzi97@gmail.com"
          >
            <ion-icon name="mail"></ion-icon>
          </a>
        </div>
      </footer>
      <script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
      ></script>
    </div>
  </body>
</html>
